name: BACKUP DE VENDAS E GASTOS

on:
  # 1. Gatilho Manual: Permite que você clique em "Run workflow" para testar.
  workflow_dispatch:

  # 2. Gatilhos Agendados (Novo Múltiplo Agendamento)
  schedule:
    # Roda no dia 1 de cada mês, à 00:01 (Hora UTC).
    - cron: '1 0 1 * *'
    # Roda no dia 16 de cada mês, à 00:01 (Hora UTC).
    - cron: '1 0 16 * *'

jobs:
  run_consolidation:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do Repositório (Baixa o código)
        # Necessário para que o ambiente de execução encontre o script.
        uses: actions/checkout@v4

      - name: 2. Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: 3. Instalar Dependências (gspread)
        run: |
          python -m pip install --upgrade pip
          # A instalação do gspread e suas dependências
          pip install gspread

      - name: 4. Executar o Script do Agente de Backup
        # Alterei o nome aqui para refletir o nome do arquivo que criamos no passo anterior.
        run: python backup_gastos_despesas_mensal.py
        env:
          # Mapeamento do Secret (Crucial para a Autenticação)
          GSPREAD_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.GCP_SA_CREDENTIALS }}
